.construction__wrap {
  position: relative;
  background: #242424;
  color: #FFFFFF;
}
.construction__wrap .grid__wrap {
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.construction__wrap .grid__wrap .cell:first-of-type {
  @media screen and (min-width: 90rem) {
    width: 30%;
  }
}
.construction__wrap .grid__wrap .cell:last-of-type {
  @media screen and (min-width: 90rem) {
    width: 40%;
  }
}
.construction__wrap h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}
.construction__wrap img {
  @media screen and (min-width: 90rem) {
    width: 60%;
  }
  margin: 0 auto;
  display: block;
}