header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  padding-top: 6.25rem;
}
header .grid__wrap {
  justify-content: space-between;
  padding: 6.25rem 3rem 0 3rem;
}
header .grid__wrap .cell:first-of-type {
  width: 25%;
}
header .grid__wrap .cell:last-of-type {
  width: 12.5rem;
}
header div.contact__btn {
  text-align: center;
  display: block;
  max-width: 12.5rem;
  color: #fff;
  border: 0.0625rem solid #ED0B35;
  font-weight: 700;
  padding: 0.8rem 0;
  cursor: pointer;
  pointer-events: auto;
  position: relative;
}
header div.contact__btn span {
  display: inline-block;
  position: relative;
  z-index: 2;
}
header div.contact__btn:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background-color: #ED0B35;
}
header .grid__wrap:last-of-type {
  padding-top: 0;
}
header ul {
  padding: 0;
  list-style-type: none;
  margin: 1.5rem 0;
}
header nav {
  display: inline-block;
  margin-top: 1.2rem;
}
header nav li {
  cursor: pointer;
  color: #2B2B2B;
  font-weight: 900;
  pointer-events: auto;
  transition: color 300ms ease-out;
  margin-left: -0.9rem;
  text-transform: uppercase;
  font-size: 0.9rem;
}
header nav li:before,
header nav li:after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}
header nav li:before {
  margin-right: 0.625rem;
  content: '[';
  transform: translateX(20px);
}
header nav li:after {
  margin-left: 0.625rem;
  content: ']';
  transform: translateX(-20px);
}
header nav li.active {
  cursor: default;
}
header nav li:hover,
header nav li.active {
  color: #A41E37;
}
header nav li:not(.active):hover:before,
header nav li:not(.active):hover:after,
header nav li:not(.active):hover:before,
header nav li:not(.active):hover:after {
  opacity: 1;
  transform: translateX(0px);
}
header ul li:not(:last-child) {
  margin-bottom: 1rem;
}
.social__icon__wrap {
  margin-top: 6.25rem;
}
.social__icon__wrap a {
  color: #A41E37;
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 100%;
  border: 0.125rem solid #fff;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin-left: auto;
  position: relative;
  padding: 0.3125rem;
  pointer-events: auto;
}
.social__icon__wrap a:hover {
  background: none;
}
.social__icon__wrap a i {
  position: relative;
  z-index: 2;
}
.social__icon__wrap a span {
  background-color: #ffffff;
  position: absolute;
  top: 0.05rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
  z-index: 1;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  display: block;
  width: 100%;
  height: 100%;
}
.social__icon__wrap a:hover span {
  width: 86%;
  height: 86%;
}

// logo

.redline__logo {
  transition: 300ms ease-out;
  display: block;
  width: 100%;
  height: auto;
}

.redline__logo.shrink {
  width: 40%;
}

.redline__logo path.red {
  fill:  #a32035;
}

// dark theme

.dark .header .redline__logo path.black {
  fill:  #ffffff;
}
.dark header nav li {
  color: #ffffff;
}