.section__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @media screen and (min-width: 40rem) {
    padding: 0;
    height: 100vh;
  }
  @media screen and (min-width: 18.75rem) {
    padding-bottom: 3rem;
    height: auto;
  }
}

.section__wrap:not(.introduction__wrap) {
  @media screen and (min-width: 40rem) {
    padding: 0;
  }
  @media screen and (min-width: 18.75rem) {
    padding-bottom: 5rem;
  }
}

.section__wrap .grid__wrap {
  height: 100%;
}

.section__wrap.interior {
  position: relative;
  z-index: 20;
}

.section__title__wrap .wrap {
  display: block;
}

.section__title__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.product__shot {
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 40rem) {
    max-width: 100%;
  }
  @media screen and (min-width: 18.75rem) {
    max-width: 30%;
  }
}

// interior
.section__wrap.interior h1 {
  line-height: 1.2;
  font-weight: 400;
  @media screen and (min-width: 40rem) {
    font-size: 2.5rem;
  }
  @media screen and (min-width: 18.75rem) {
    font-size: 2rem;
  }
}

.section__wrap.interior p,
.section__wrap.interior li {
  @media screen and (min-width: 40rem) {
    font-size: 1rem;
  }
  @media screen and (min-width: 18.75rem) {
    font-size: 0.9rem;
  }
}

.section__wrap.interior {
  position: relative;
  background: #282828;
  color: #FFFFFF;
  align-items: flex-start;
  @media screen and (min-width: 40rem) {
    margin-top: -6rem;
  }
  @media screen and (min-width: 18.75rem) {
    margin-top: 0;
  }
}

.section__wrap.interior .grid__wrap {
  display: flex;
  position: relative;
  z-index: 2;
  @media screen and (min-width: 73.75rem) {
    padding-top: 0;
    margin-left: 20.25rem;
    margin-top: 3rem;
  }
  @media screen and (min-width: 48rem) {
    margin-left: 13rem;
  }
  @media screen and (min-width: 40rem) {
    margin-left: 13rem;
  }
  @media screen and (min-width: 18.75rem) {
    padding-top: 5rem;
    margin-top: 0;
  }
}

.section__wrap.interior .grid__wrap.content__only {
  @media screen and (min-width: 64rem) {
    width: 35rem;
  }
  @media screen and (min-width: 48rem) {
    width: 25rem;
  }
  @media screen and (min-width: 18.75rem) {
    width: auto;
  }
}

// construction
.construction__wrap .cell__wrap .product__shot {
  @media screen and (min-width: 40rem) {
    display: none;
  }
  @media screen and (min-width: 18.75rem) {
    display: block;
    margin: 2rem auto;
    width: 6.25rem;
  }
}

.construction__video video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
}

.construction__video {
  @media screen and (min-width: 64rem) {
    display: block;
  }
  @media screen and (min-width: 18.75rem) {
    display: none;
  }
}

.construction__wrap .wrap {
  position: relative;
  z-index: 2;
}

// durability

.durability__wrap {
  @media screen and (min-width: 18.75rem) {
    padding-bottom: 5rem !important;
  }
}

.durability__wrap ul {
  padding: 0;
  margin-top: 2.5rem;
}

.durability__wrap ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.durability__wrap ul li:after {
  content: '';
  display: block;
  height: 1px;
  width: 3rem;
  background: #981b31;
  margin-top: 1rem;
}

// services
.service__wrap .background__image:first-child {
  animation: 115s ppb_kenburns linear infinite alternate;
}

.service__wrap .background__image:not(:first-child) {
  animation: imageAnimation 36s linear infinite 0s;
  opacity: 0;
  z-index: 0;
}

.service__wrap .background__image:nth-child(2) {
  animation-delay: 6s;
}

.service__wrap .background__image:nth-child(3) {
  animation-delay: 12s;
}

.service__wrap .background__image:nth-child(4) {
  animation-delay: 18s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
    transform: scale(1.3) translate(-10%, 10%);
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1
  }
  25% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(1.3) translate(-10%, 10%);
  }
}

// contact
.section__wrap.interior.contact__wrap {
  background: #fff;
  position: relative;
}

.contact__wrap {
  @media screen and (min-width: 64rem) {
    padding: 0;
  }
  @media screen and (min-width: 18.75rem) {
    padding-bottom: 5rem;
  }
}

.interior.contact__wrap .grid__wrap {
  justify-content: space-around;
  @media screen and (min-width: 64rem) {
    max-width: 990px !important;
    margin: 0 auto 0 auto !important;
  }
  @media screen and (min-width: 18.75rem) {
    max-width: 400px !important;
    margin: 0 auto 0 auto !important;
    padding-bottom: 10rem;
  }
}

.contact__wrap .grid__wrap .cell {
  @media screen and (min-width: 81.25rem) {
    width: 30rem;
  }
  @media screen and (min-width: 64rem) {
    width: 20rem;
  }
  @media screen and (min-width: 18.75rem) {
    width: 100%;
  }
}

.contact__wrap h1,
.contact__wrap p {
  color: #4b4b4b;
}

.contact__wrap .section__title__wrap {
  color: #4b4b4b;
}

.contact__wrap .content__wrap p:last-of-type {
  margin-top: 2.5rem;
}

.section__title__wrap {
  font-size: 0.9rem;
  padding: 2.5rem 0 2.5rem 3rem;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}

span.scroll__button {
  cursor: pointer;
  display: block;
}

.background__image {
  background-size: cover !important;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.3) translate(-10%, 10%);
}

.background__video {
  @media screen and (min-width: 64rem) {
    display: block;
  }
  @media screen and (min-width: 18.75rem) {
    display: none;
  }
}

.background__image.image {
  @media screen and (min-width: 64rem) {
    display: none;
  }
  @media screen and (min-width: 18.75rem) {
    display: block;
  }
}

.active__section:not(.service__wrap) .background__image,
.active__section:not(.durability__wrap) .background__image {
  animation: 115s ppb_kenburns linear infinite alternate;
}

@keyframes ppb_kenburns {
  0% {
    transform: scale(1.3) translate(-10%, 10%);
  }
  25% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.3) translate(-10%, 10%);
  }
}

.attachment__wrap a {
  display: flex;
  align-items: center;
  color: #fff;
}

.attachment__wrap span.line {
  margin-bottom: 1.2rem;
}

.attachment__wrap p {
  margin: 1.1rem 0 0 0;
}

.section__wrap.interior .attachment__wrap .cell {
  padding: 0;
}

.section__wrap.interior .attachment__wrap .cell:first-of-type {
  max-width: 2rem;
  padding-right: 1rem;
}

.attachment__wrap img {
  width: 1.875rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

// forms
div.wpcf7 {
  @media screen and (min-width: 64rem) {
    margin-top: 1.5rem;
    padding: 0 2.5rem;
  }
  @media screen and (min-width: 18.75rem) {
    margin-top: 0;
    padding: 0 0 ;
  }
}

.wpcf7-form-control-wrap,
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
  display: block;
  width: 100%;
  border: none;
  box-sizing: border-box;
  outline: 0;
  color: #4b4b4b;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
  background: transparent;
  margin-bottom: 2rem;
  padding: 0.4rem;
  border-bottom: 1px solid #A5A5A5;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4b4b4b;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4b4b4b;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #4b4b4b;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #4b4b4b;
}

input[type="submit"] {
  background: #a41e37;
  color: #fff;
  border-radius: 0;
  border: none;
  min-width: 12.5rem;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 0.8rem 0;
  margin-top: 1.5rem;
  cursor: pointer;
  transition: all 300ms ease-out;
  border: 1px solid transparent;
}

input[type="submit"]:hover {
  background: #4b4b4b;
}

.introduction__wrap:before {
  @media screen and (min-width: 100rem){
    width: 33%;
    display: block;
  }
  @media screen and (min-width: 64rem){
    width: 15%;
    display: block;
  }
  @media screen and (min-width: 18.75rem){
    display: none;
  }
}

.introduction__wrap:after {
  @media screen and (min-width: 80rem){
    right: -45rem;
  }
  @media screen and (min-width: 64rem){
    right: -35rem;
    display: block;
  }
  @media screen and (min-width: 18.75rem){
    display: none;
  }
}

.content__wrap {
  @media screen and (min-width: 48rem) {
    padding: 0;
  }
  @media screen and (min-width: 18.75rem) {
    padding: 0 3rem;
  }
}