.section__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section__wrap .grid__wrap {
  height: 100%;
}

.section__wrap.interior {
  position: relative;
  z-index: 20;
  margin-top: -6rem;
}

.section__title__wrap .wrap {
  display: block;
}

.section__title__wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 10;
}

.section__title__wrap h1 {
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  padding: 2.5rem 0 2.5rem 3.5rem;
  display: inline-block;
  color: #fff;
  width: 100%;
}

.product__shot {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

// interior
.section__wrap.interior h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 400;
}

.section__wrap.interior {
  position: relative;
  background: #242424;
  color: #FFFFFF;
  align-items: flex-start;
}

.section__wrap.interior .grid__wrap {
  display: flex;
  position: relative;
  z-index: 2;
  max-width: 90rem;
  margin-top: 4.4rem;
  margin-left: 15rem;
}

.section__wrap.interior .grid__wrap .cell {
  padding: 0 2.5rem;
  flex: 2;
}

// construction
.construction__wrap .cell__wrap {
  width: 80%;
}

// durability
.durability__wrap ul {
  padding: 0;
  margin-top: 2.5rem;
}

.durability__wrap ul li {
  list-style-type: none;
  margin-bottom: 1rem;
}

.durability__wrap ul li:after {
  content: '';
  display: block;
  height: 1px;
  width: 3rem;
  background: #981b31;
  margin-top: 1rem;
}

.section__wrap.interior .scroll__button {
  font-size: 0.9rem;
  text-transform: uppercase;
  display: block;
}

.section__wrap.interior .scroll__button span {
  display: inline-block;
}

.background__image {
  background-size: cover !important;
  background-position: center center !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.3) translate(-10%, 10%);
}

.active__section .background__image {
  animation: 115s ppb_kenburns linear infinite alternate;
}

@keyframes ppb_kenburns {
  0% {
    transform: scale(1.3) translate(-10%, 10%);
  }
  25% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(10%, 10%);
  }
  75% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.3) translate(-10%, 10%);
  }
}

.section__wrap.interior .grid__wrap.content__only {
  max-width: 33rem;
}

.attachment__wrap a {
  display: flex;
  align-items: center;
  color: #fff;
}

.attachment__wrap span.line {
  margin-bottom: 1.2rem;
}

.attachment__wrap p {
  margin: 1.1rem 0 0 0;
}

.section__wrap.interior .attachment__wrap .cell {
  padding: 0;
}

.section__wrap.interior .attachment__wrap .cell:first-of-type {
  max-width: 2rem;
  padding-right: 1rem;
}

.attachment__wrap img {
  width: 1.875rem;
  height: auto;
  display: block;
  margin: 0 auto;
}