body {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
.grid__wrap {
  display: flex;
  flex-flow: row wrap;
}
.cell {
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}
a {
  text-decoration: none;
}