@import "normalize";
@import "bourbon/bourbon";
// misc. layout rules
body {
    font-family: 'Open Sans', Helvetica;
    font-weight: 400;
    background: #ffffff;
}

// typography
h5 {
    color: #a5a5a5;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    transform: translateX(100px);
    opacity: 0;
}

p,
li {
    @media screen and (min-width: 48rem) {
        font-size: 1rem;
    }
    @media screen and (min-width: 18.75rem) {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 0.5rem;
}

// box sizing
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// grid
.grid {
    @media screen and (min-width: 48rem) {
        display: flex;
    }
    @media screen and (min-width: 18.75rem) {
        display: block;
    }
}

.column {
    position: relative;
}

.section__wrap {
    display: flex;
    height: 100vh;
    position: relative;
    align-items: center;
    @media screen and (min-width: 48rem) {
        padding: 4rem;
    }
    @media screen and (min-width: 18.75rem) {
        padding: 2rem;
    }
}

.section__wrap:not(.fifth) h1,
.section__wrap .product__shot,
.section__wrap .mousey,
.section__wrap:not(.fifth) p,
.attachment__wrap,
.section__wrap.second video {
    transform: translateY(100px);
    opacity: 0;
}

.section__wrap.third li {
    transform: translateX(100px);
    opacity: 0;
}

// header
header {
    overflow: hidden;
    @media screen and (min-width: 64em) {
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}

header .grid {
    display: flex;
    @media screen and (min-width: 48rem) {
        padding: 4rem;
    }
    @media screen and (min-width: 18.75rem) {
        padding: 2rem;
    }
}

header .column {
    width: 50%;
}

// nav
header nav ul {
    padding: 0;
    @media screen and (min-width: 18.75rem) {
        display: none;
    }
}

header nav li {
    cursor: pointer;
    color: #2B2B2B;
    pointer-events: auto;
    transition: color 300ms ease-out;
    font-size: 0.9rem;
    @media screen and (min-width: 64rem) {
        margin-bottom: 1.5rem;
    }
    @media screen and (min-width: 18.75rem) {
        margin-bottom: 0.5rem;
    }
}

header nav li.active {
    color: #A41E37;
}

// logo
.redline__logo {
    @media screen and (min-width: 48rem) {
        width: 14rem;
    }
    @media screen and (min-width: 18.75rem) {
        width: 10rem;
    }
}

.gd__redline__watermark {
    position: absolute;
    left: 5rem;
    bottom: 2rem;
    width: 6.25rem;
    opacity: 0.1;
}

// product shot
.product__shot {
    margin: 0 auto;
    display: block;
    @media screen and (min-width: 61.875rem) {
        width: 300px;
    }
    @media screen and (min-width: 18.75rem) {
        width: 200px;
    }
}

// social icons
.social__icon__wrap ul {
    margin: 1.5rem 0;
    @media screen and (min-width: 18.75rem) {
        display: none;
    }
}

.social__icon__wrap ul li {
    list-style-type: none;
    text-align: right;
}

.social__icon__wrap a {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 600ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin-left: auto;
    position: relative;
    padding: .3125rem;
    pointer-events: auto;
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    @media screen and (min-width: 64rem) {
        border: .125rem solid #ffffff;
        background: #ffffff;
        color: #a41e37;
    }
    @media screen and (min-width: 18.75rem) {
        border: .125rem solid #a41e37;
        background: #a41e37;
        color: #ffffff;
    }
}

// sections
.section__wrap:not(.first) h1 {
    font-weight: 400;
}

.section__wrap:not(.first) {
    @media screen and (min-width: 64rem) {
        margin-top: -6rem;
    }
}

// first section
.section__wrap.first h1 {
    font-style: italic;
    color: #4b4b4b;
}

.section__wrap.first:after {
    @media screen and (min-width: 111.2rem) {
        right: -50rem;
    }
    @media screen and (min-width: 87.5rem) {
        right: -40rem;
    }
    @media screen and (min-width: 80rem) {
        right: -30rem;
    }
    @media screen and (min-width: 64rem) {
        right: -25rem;
        content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%221079.695%20-0.169%20840.305%201080.169%22%3E%0A%20%20%3Cdefs%3E%0A%20%20%20%20%3Cstyle%3E%0A%20%20%20%20%20%20.cls-1%20%7B%0A%20%20%20%20%20%20%20%20fill%3A%20%23a41e37%3B%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%3C/style%3E%0A%20%20%3C/defs%3E%0A%20%20%3Cpath%20id%3D%22Path_19%22%20data-name%3D%22Path%2019%22%20class%3D%22cls-1%22%20d%3D%22M-382.194%2C1080.169H164.888V0H-675.417Z%22%20transform%3D%22translate%281755.112%20-0.169%29%22/%3E%0A%3C/svg%3E%0A);
    }
    position: absolute;
    top: 0;
    width: 90%;
    display: block;
}

.section__wrap.first .grid {
    position: relative;
    z-index: 2;
    @media screen and (min-width: 64rem) {
        width: 42rem;
    }
    @media screen and (min-width: 48rem) {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    @media screen and (min-width: 18.75rem) {
        display: block;
    }
}

// second section 
.section__wrap.second {
    background-color: #282828;
    color: #ffffff;
}

.section__wrap.second .grid {
    @media screen and (min-width: 64rem) {
        width: 34rem;
    }
}

.section__wrap.second video {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    @media screen and (min-width: 100rem) {
        width: 1120px;
        height: 630px;
    }
    @media screen and (min-width: 71.25rem) {
        width: 864px;
        height: 486px;
    }
    @media screen and (min-width: 18.75rem) {
        display: none;
    }
}

.section__wrap.second .product__shot {
    @media screen and (min-width: 64rem) {
        display: none;
    }
    @media screen and (min-width: 18.75rem) {
        display: block;
    }
}

// third section
.section__wrap.third .bg {
    @media screen and (min-width: 64rem) {
        display: none;
    }
    @media screen and (min-width: 18.75rem) {
        display: block;
    }
}

.section__wrap.third .grid {
    position: relative;
    z-index: 2;
    color: #ffffff;
    @media screen and (min-width: 64rem) {
        width: 34rem;
    }
}

.section__wrap.third li:after {
    content: '';
    display: block;
    height: 1px;
    width: 3rem;
    background: #981b31;
    margin: 1rem 0;
}

// fourth section
.section__wrap.fourth .grid {
    position: relative;
    z-index: 2;
    color: #ffffff;
    @media screen and (min-width: 64rem) {
        width: 34rem;
    }
}

.section__wrap.fourth .bg {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    animation: CrossFade 24s infinite;
}

.section__wrap.fourth .bg:nth-of-type(4) {
    animation-delay: 6s;
}

.section__wrap.fourth .bg:nth-of-type(3) {
    animation-delay: 12s;
}

.section__wrap.fourth .bg:nth-of-type(2) {
    animation-delay: 18s;
}

.section__wrap.fourth .bg:nth-of-type(1) {
    animation-delay: 24s;
}

@keyframes CrossFade {
    25% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

// fifth section
.section__wrap.fifth {
    height: auto;
    background-color: #ffffff;
}

.section__wrap.fifth .grid {
    @media screen and (min-width: 50rem) {
        display: flex;
        justify-content: center;
    }
    @media screen and (min-width: 18.75rem) {
        display: block;
    }
}

.section__wrap.fifth .grid .column:first-of-type {
    @media screen and (min-width: 80rem) {
        width: 40%;
    }
    @media screen and (min-width: 50rem) {
        width: 40%;
    }
}

.section__wrap.fifth .grid .column:last-of-type {
    @media screen and (min-width: 80rem) {
        width: 40%;
    }
    @media screen and (min-width: 50rem) {
        width: 60%;
    }
}

.section__wrap.fifth form {
    @media screen and (min-width: 50rem) {
        padding: 0 1.5rem;
    }
    @media screen and (min-width: 18.75rem) {
        margin-top: 2rem;
    }
}

// backgrounds
.video__bg,
.bg {
    position: absolute;
}

.bg {
    background-size: cover !important;
    background-position: center center !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    @media screen and (min-width: 64rem) {
        display: block;
    }
    @media screen and (min-width: 18.75rem) {
        display: none;
    }
}

// attachment wrap
.attachment__wrap a {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    color: #ffffff;
    text-decoration: none;
}

.attachment__wrap a .line {
    margin-bottom: 0.5rem;
}

.attachment__wrap a .cell:first-of-type {
    max-width: 4rem;
    padding-right: 1rem;
}

.attachment__wrap img {
    width: 1.875rem;
    height: auto;
    display: block;
    margin: 0 auto;
}

// line
span.line {
    display: block;
    height: .0625rem;
    background: #981b31;
}

h5~span.line {
    width: 2.75rem;
    transform: translateX(-100px);
    opacity: 0;
}

// contact 7 form
.wpcf7-form-control-wrap,
.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    display: block;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    color: #4b4b4b;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    background: transparent;
    margin-bottom: 2rem;
    padding: .4rem;
    border-bottom: 1px solid #a5a5a5;
    font-size: 0.8rem;
}

input[type="submit"] {
    background: #a41e37;
    color: #fff;
    border-radius: 0;
    border: 0;
    min-width: 12.5rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 900;
    padding: .8rem 0;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease-out;
    border: 1px solid transparent;
}

input[type="submit"]:hover {
    background: #4b4b4b;
}

::-webkit-input-placeholder {
    color: #4b4b4b;
}

 ::-moz-placeholder {
    color: #4b4b4b;
}

 :-ms-input-placeholder {
    color: #4b4b4b;
}

 :-moz-placeholder {
    color: #4b4b4b;
}

// redline logo
.redline__logo path.red {
    fill: #a32035;
}

// contact button
.contact__button {
    border: .0625rem solid #ed0b35;
    text-align: center;
    @media screen and (min-width: 48rem) {
        width: 12rem;
        padding: .8rem;
    }
    @media screen and (min-width: 18.75rem) {
        width: 5rem;
        padding: .5rem;
        margin-left: auto;
    }
}

// .main 
.main__wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s;
}

.main {
    position: relative;
}

.main::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
    transition: opacity 0.3s, transform 0s 0.3s;
    transform: translate3d(100%, 0, 0);
}

// mobile menu - menu button
.mobile__menu__button {
    position: fixed;
    z-index: 10002;
    padding: 0;
    width: 100px;
    height: 60px;
    border: none;
    text-indent: 2.5em;
    font-size: 1.5em;
    color: transparent;
    background: transparent;
    display: block;
    right: 1rem;
    top: 1rem;
    @media screen and (min-width: 18.75rem) {
        display: block;
    }
    outline: 0;
}

.bar,
.bar:after,
.bar:before {
    width: 100px;
    height: 10px;
}

.bar {
    position: relative;
    transform: translateY(25px);
    background: white;
    transition: all 0ms 300ms;
}

.bar.animate {
    background: rgba(255, 255, 255, 0);
}

.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 25px;
    background: white;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    background: white;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

// mobile menu - close button
.close__button {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 16px;
    border: none;
    z-index: 1001;
    background: transparent;
    color: transparent;
}

.close__button:before,
.close__button:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: #ffffff;
}

.close__button:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close__button:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

// mobile menu - menu
.mobile__menu__wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 300px;
    height: 100%;
    font-size: 1.15em;
    transform: translate3d(-300px, 0, 0);
    transition: transform 0.3s;
}

.mobile__menu__wrap nav {
    background: #981b31;
    width: calc(100% - 120px);
    height: 100%;
    padding: 2em 1em;
}

.mobile__menu__wrap li {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}

// mobile menu - morph shape
.morph__shape {
    position: absolute;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    fill: #981b31;
    z-index: 1000;
}

// mobile menu - shown
.show__menu .mobile__menu__wrap {
    transform: translate3d(0, 0, 0)
}

.show__menu .main__wrap {
    transition-delay: 0.1s;
    transform: translate3d(100px, 0, 0);
}

.show__menu .main:before {
    opacity: 1;
    transition: opacity 0.3s;
    transform: translate3d(0, 0, 0);
}

.show__menu header {
    @include box-shadow-bottom();
}

// mouse scroll icon
// thanks! - https://codepen.io/2xsamurai/pen/WwmjKQ?q=animated+scroll&limit=all&type=type-pens
.mousey {
    width: 6px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #ABA5A5;
    border-radius: 25px;
    opacity: 0.25;
    box-sizing: content-box;
    margin: 0 auto;
    transform: scale(0.8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10rem;
    margin: 0 auto;
    @media screen and (min-width: 48rem) {
        display: block;
    }
    @media screen and (min-width: 18.75rem) {
        display: none;
    }
}

.scroller {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ABA5A5;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(35px);
        opacity: 0;
    }
}